@import "../../global/variables";
@import "../../global/mixins";
@import "../../global/reset";

.recipe-detail {
    border: 1px solid $text-field-border;
    border-radius: 4px;
    outline: none;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
    width: 100%;
    min-width: 330px;
    max-width: 500px;
    height: 100%;

    margin: $padding-std;
    padding: $padding-std;
    @include tablet {
        margin: 0 $padding-std;
    }

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    &__title {
        width: 100%;
        padding: $padding-std;
        text-align: center;
        text-transform: capitalize;

        &--left {
            text-align: left;
            padding-left: 0;
        }
    }

    &__img {
        width: 100%;
        object-fit: cover;
        border-radius: 4px;
    }

    &__list {
        margin-left: $padding-std;
    }

}
