@import "../../global/variables";
@import "../../global/mixins";
@import "../../global/reset";

.ingredient {
    padding: 4px $padding-std;
    width: 100%;
    max-width: 350px;

    &--selected {
        border: 3px solid $text-field-border-selected;
        border-radius: 4px;
    }

    &__overview {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }

    &__info-icon {
        width: 1rem;
        margin-left: 16px;
    }

    &__details {
        width: 100%;
        padding: $padding-std;
        // margin-left: 24px;
        
        &--hide {
            display: none;
        }
    
        &--show {
            display: unset;
        }
    }
    
    &__img {
        width: 100%;
        object-fit: cover;
    }
    
}