/* Breakpoints list */
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

/* Colours */
$paragraph: #323232;
$text-label: #AFAFAF;
$text-field-border: #E1E1E1;
$text-field-bg: #FAFAFA;

/* Spacing standards */
$padding-std: 16px;