@import "../../global/variables";
@import "../../global/mixins";
@import "../../global/reset";

.recipe-list {
    width: 100%;
    padding: $padding-std;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}