@import "../../global/variables";
@import "../../global/mixins";
@import "../../global/reset";

.food-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: $padding-std;

    &--hide {
        display: none;
    }
}

.ingredient-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: $padding-std;
    
}