@import "../../global/variables";
@import "../../global/mixins";
@import "../../global/reset";

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

.mealplan {
    width: 100%;
    max-width: $max-container;
    margin: $padding-std;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
    }
}

.dx-scheduler {

    border: 1px solid $text-field-border;
    border-radius: 4px;
    outline: none;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    &-appointment-content-date {
        display: none;
    }
    
    &-view-switcher, .dx-scheduler-view-switcher-label {
        display: none;
    }
}

