@import "../../global/variables";
@import "../../global/mixins";
@import "../../global/reset";

.new-ingredient {
    border: none;
    border-radius: 4px;
    margin: $padding-std;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    &__title {
        width: 100%;
        padding: $padding-std;
    }

    &__divider {
        width: 100%;
        margin-bottom: 8px;
    }

    &__input {
        border: 1px solid $text-field-border;
        padding: 4px;
        border-radius: 4px;
    }

    &__select {
        margin-bottom: 8px;
        width: 100%;
    }

    &__btn {
        width: 25px;
        height: 25px;
        margin-left: 8px;
        border: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: #FFF;
    }

    &__add-ingr {
        background-image: url("../../assets/icons/plus.svg");
    }

    &__add-receipt {
        background-image: url("../../assets/icons/uploadImg.svg");
    }

    &__details {
        padding: $padding-std;

        display: flex;
        align-items: center;
    }

    &__additional-details {
        flex-direction: column;

    }
}