@import "../../global/variables";
@import "../../global/mixins";
@import "../../global/reset";

.new-ingredient {
    
    width: 100%;
    max-width: 350px;
    
    border: none;
    border-radius: 4px;
    margin: $padding-std;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    &__title {
        width: 100%;
        padding: $padding-std;
    }

    &__divider {
        width: 100%;
        margin-bottom: 8px;
    }

    &__input {
        width: 100%;
        font-family: 'Roboto';
        font-size: 16px;

        border: 1px solid hsl(0,0%,70%);;
        padding: 8px;
        border-radius: 4px;
        min-height: 38px;

        &:hover, &:focus {
            outline: none;
            border-color: #2684ff;
            border-width: 2px;
        }
    }

    &__select {
        margin-bottom: 8px;
        width: 100%;
    }

    &__btn {
        width: 25px;
        height: 25px;
        margin-left: 8px;
        border: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: #FFF;
    }

    &__add-ingr {
        background-image: url("../../assets/icons/plus.svg");
    }

    &__add-receipt {
        background-image: url("../../assets/icons/uploadImg.svg");
    }

    &__details {
        padding: $padding-std;

        display: flex;
        align-items: center;

    }

    &__additional-details {
        flex-direction: column;

    }
}